.responsiveContainer {
    border: none;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.stackGap {
    gap: var(--mantine-spacing-xs);
}

.title {
    font-size: var(--mantine-h2-font-size);
    letter-spacing: -.5px;
}

.titleGroup {
    padding-bottom: var(--mantine-spacing-sm);
}

@media (min-width: $mantine-breakpoint-sm) {
    .responsiveContainer {
        border: 1px solid var(--mantine-color-dark-6);
        height: 92vh;
        padding: var(--mantine-spacing-xl);
        padding-bottom: var(--mantine-spacing-md);
    }

    .wrapper {
        box-sizing: border-box;
        padding-top: var(--mantine-spacing-xl);
    }

    .stackGap {
        gap: var(--mantine-spacing-lg);
    }

    .title {
        font-size: var(--mantine-h1-font-size);
    }

    .titleGroup {
        padding-bottom: var(--mantine-spacing-xl);
    }
}