.myPaper {
    transition: all 0.2s ease;
    padding: var(--mantine-spacing-xs);
    padding-top: 2px;
}

.myPaper:hover {
    border-color: var(--mantine-primary-color-filled);
}

@media (min-width: $mantine-breakpoint-sm) {
    .myPaper {
        padding: var(--mantine-spacing-md);
        padding-top: 4px;
    }
}