.responsiveContainer {
    border: none;
    box-shadow: none;
    padding: var(--mantine-spacing-md);
}

@media (min-width: $mantine-breakpoint-sm) {
    .responsiveContainer {
        border: 1px solid var(--mantine-color-dark-6);
        box-shadow: var(--mantine-shadow-xl);
        padding: var(--mantine-spacing-xl);
    }

    .wrapper {
        box-sizing: border-box;
        padding-top: var(--mantine-spacing-xl);
    }
}