.responsiveContainer {
    border: none;
    box-shadow: none;
    background-color: var(--mantine-color-white);
    padding: var(--mantine-spacing-md);
    /* padding-bottom: 140px; */
}

.title {
    font-size: var(--mantine-h2-font-size);
    letter-spacing: -.5px;
    font-weight: 900;
}

@media (min-width: $mantine-breakpoint-lg) {
    .responsiveContainer {
        border: 1px solid var(--mantine-color-gray-3);
        box-shadow: var(--mantine-shadow-xl);
        border-radius: var(--mantine-radius-md);
        height: 92vh
    }

    .wrapper {
        box-sizing: border-box;
        padding-top: var(--mantine-spacing-xl);
    }

    .endBox {
        padding-bottom: var(--mantine-spacing-md);
    }

    .title {
        font-size: var(--mantine-h1-font-size);
    }
}