.header {
    position: sticky;
    top: var(--mantine-spacing-md); 
    z-index: 100;
    transition: transform 0.3s ease, opacity 0.2s ease;
    opacity: 1;
}

.headerHidden {
    position: sticky;
    top: var(--mantine-spacing-md);
    z-index: 100;
    transition: transform 0.3s ease, opacity 0.2s ease;
    transform: translateY(-120%);
    opacity: 0;
}