.responsiveContainer {
    border: none;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    position: sticky;
    top: 0; 
    z-index: 100;
    transition: transform 0.3s ease, opacity 0.2s ease;
    opacity: 1;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
    will-change: transform, opacity;
}

.headerHidden {
    position: sticky;
    top: 0;
    z-index: 100;
    transition: transform 0.3s ease, opacity 0.2s ease;
    transform: translateY(-120%);
    opacity: 0;
}

.stackGap {
    gap: var(--mantine-spacing-xs);
}

@media (min-width: $mantine-breakpoint-sm) {
    .wrapper {
        box-sizing: border-box;
        padding-top: var(--mantine-spacing-xl);
    }
    .responsiveContainer {
        border: 1px solid var(--mantine-color-dark-6);
        padding: var(--mantine-spacing-xl);
        height: 92vh;
    }
    .stackGap {
        gap: var(--mantine-spacing-lg);
    }
}

