.navContainer {
  position: fixed;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  max-width: 90vw; 
  @mixin smaller-than xs {
    width: 90vw;
  }
}

.segmentedRoot {
  backdrop-filter: blur(10px);
  background-color: light-dark(rgba(241, 243, 245, 0.8), rgba(36, 36, 36, 0.8));
  box-shadow: var(--mantine-shadow-xl);
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.indicator {
  box-shadow: var(--mantine-shadow-md);
}

.label {
  & span {
    @mixin smaller-than xs {
      display: none;
    }
  }
}