.navContainer {
    position: fixed;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    max-width: 95vw;
}

.segmentedRoot {
    backdrop-filter: blur(10px);
    border: 1px solid var(--mantine-color-dark-4);
    background-color: hsla(220, 7%, 8%, 0.6);
    padding: var(--mantine-spacing-xs);
    box-shadow: '0 10px 30px rgba(0,0,0,0.5)';
}

.indicator {
    box-shadow: var(--mantine-shadow-md);
    background-color: var(--mantine-color-dark-5);
}

.label {
    color: var(--mantine-color-volt-4);
}

.labelText {
    font-weight: 700;
    line-height: 0;
    text-transform: uppercase;
    font-size: 12px;
}

.activeWorkout {
    background-color: var(--mantine-color-volt-6);
    padding: 0px var(--mantine-spacing-xs);
}

.iconWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ripple {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    animation: rippleAnimation 1.5s infinite ease-out;
    pointer-events: none;
}

@keyframes rippleAnimation {
    0% {
        transform: scale(0);
        opacity: 0.8;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@media (min-width: $mantine-breakpoint-sm) {
    .navContainer {
        /* bottom: 20px; */
    }
}